<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Add Admin User <small>Create a new Admin user</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Admin</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">New Admin</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#/manage_admin">
					<i class="icon-user"></i> Manage Admin </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Admin Reports	
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
	<p>
		Please fill correctly the Admin details.
	</p>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-user"></i>Basic Information
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-group">
						<label class="col-sm-3 control-label">Lastname</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-users"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Firstname</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-user"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
						</div>
					</div>
                    <div class="form-group">
						<label class="col-sm-3 control-label">Department</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-file"></i>
								</span>
								<input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control"/>
							</div>
							<p class="help-block">
								Enter Department in full (e.g Soil Sciences)
							</p>
						</div>
                    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">College</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-building"></i>
								</span>
								<select name="level" class="form-control">
								    <option value="">Select One....</option>
									<option value="CAS">College of Agriculture Science</option>
									<option value="CBS">College of Business and Social Sciences</option>
									<option value="CSE">College of Science and Engineering</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Role</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-check"></i>
								</span>
								<select name="role" class="form-control">
									<option value="">Select One....</option>
                                    <option value="Admin">Admin</option>
									<option value="Lirbarian">Librarian</option>
									<option value="Mail manager">Mail Manager</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple"><i class="fa fa-plus"></i> Add </button>
								<button type="reset" class="btn default">Clear</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END PORTLET-->
