<!-- $Replug Production -->
<!-- BEGIN PaGE HEADER-->
<h3 class="page-title">
	Add Books <small>Add a new book</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Books</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Add Books</a>
		</li>
	</ul>

</div>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="note note-success">
	<p>
		Please fill correctly the Book details.
	</p>
</div>
<!-- END PAGE HEADER-->
<!-- BeGIN MAIN CONTENT -->
<!-- Begin Form -->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box yellow-crusta">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Book Information
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-group">
						<label class="col-sm-3 control-label">Book Title</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-book"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
							<p class="help-block">
								E.g: Dove, keenthemes.<br>								
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Auhour</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-star"></i>
								</span>
								<select class="form-control">
									<option></option>
									<option value="Tosin Bot">Tosin Bot</option>
									<option value="Nanle">Nanle</option>
									<option value="Tobi">Tobi</option>
									<option value="Onye">Onye</option>
									<option value="Emma">Emma</option>
									<option value="Gabriel">Gabriel</option>
									<option value="Lucas">Lucas</option>
								</select>
							</div>
							<p class="help-block">
								E.g: Nanle Paul</code>
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Quantity</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-list-ol"></i>
								</span>
								<input type="text" id="typeahead_example_3" name="typeahead_example_3" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Publisher</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-barcode"></i>
								</span>
								<select class="form-control">
									<option></option>
									<option value="Tosin Bot">Tosin Bot</option>
									<option value="Nanle">Nanle</option>
									<option value="Tobi">Tobi</option>
									<option value="Onye">Onye</option>
									<option value="Emma">Emma</option>
									<option value="Gabriel">Gabriel</option>
									<option value="Lucas">Lucas</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">ISBN</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-university"></i>
								</span>
								<input type="text" id="ISBN" name="isbn" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Word Study Number</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-sort-numeric-asc"></i>
								</span>
								<input type="text" id="number" name="number" class="form-control"/>
						</div>
					</div>

					<!-- Submit Button -->
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple"><i class="fa fa-check"></i>Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>


	
<!-- END MAIN CONTENT -->
<script>
	ComponentsFormTools.init(); // init todo page
</script>
