<!-- BEGIN LOGO -->
<div class="logo">
	<a href="index.html">
	<img src="../../assets/admin/layout/img/logo-big.png" alt=""/>
	</a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form name="login" class="login-form" ng-submit="doLogin(user)" method="post">
		<h3 class="form-title">Sign In</h3>
		<div class="text-danger text-center" >{{authError}}</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" ng-model="user.username" required/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" ng-model="user.password" required/>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-success uppercase" ng-disabled="login.$invalid">Login</button>
		</div>

		<div class="create-account">
			<p>
				<a href="#" id="register-btn" style="text-decoration: none" class="uppercase">Powered by Replug</a>
			</p>
		</div>
	</form>
	<!-- END LOGIN FORM -->
</div>
