<!-- Replug Production -->
<!-- BEgin Header -->
<h3 class="pagetitle">
    Send Mails 
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
        </li>
    </ul>
</div>


	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="note note-success">
	<p>
		Send Mails To All Users..
	</p>
</div>

<!-- For Recent Sent Messages -->
<div class="row">
    <div class="col-md-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-paper-plane"></i>
                    <span class="caption-subject bold uppercase">Recent Sent Mails</span>
                    <span class="caption-helper hide"></span>
                </div>
                <div class="actions">
								<a class="btn btn-circle btn-icon-only btn-default" href="#">
								<i class="icon-cloud-upload"></i>
								</a>
								<a class="btn btn-circle btn-icon-only btn-default" href="#">
								<i class="icon-wrench"></i>
								</a>
							</div>
			</div>
			<div class="portlet-body">
				<div ng-show="uploader.isHTML5">
					<!-- 3. nv-file-over uploader="link" over-class="className" -->
					<div class="file-drop-zone margin-bottom-20" nv-file-over="" uploader="uploader" over-class="file-drop-zone-over">
						Base drop zone
					</div>
					<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
					<div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
						<div nv-file-over="" uploader="uploader" over-class="file-drop-zone-over" class="file-drop-zone margin-bottom-20">
							Another drop zone with its own settings
						</div>
					</div>
				</div>
			</div>
		</div>		
		<!-- END: ACCORDION DEMO -->
	</div>
	<div class="col-md-8">
		<!-- BEGIN: ACCORDION DEMO -->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="icon-paper-plane"></i>
					<span class="caption-subject bold uppercase">Send Mails</span>
				</div>
				<div class="actions">
								<div class="btn-group">
									<a class="btn btn-circle btn-default btn-sm" href="#" data-toggle="dropdown">
									<i class="fa fa-cogs"></i> Settings <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#">
											<i class="fa fa-pencil"></i> Edit </a>
										</li>
										<li>
											<a href="#">
											<i class="fa fa-trash-o"></i> Delete </a>
										</li>
									</ul>
								</div>
								<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#" data-original-title="" title="">
								</a>
							</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable table-scrollable-borderless">

					<form>
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>To *</label>
											<input type="email" value="" data-msg-required="Send To a Valid LMU Mail." placeholder="Send To a Valid LMU Email." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
										<div class="col-md-6">
											<label>Cc *</label>
											<input type="text" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Subject</label>
											<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required placeholder="Subject">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Message *</label>
											<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required placeholder="Type In your message"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<input type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading...">
									</div>
									<div class="col-md-2">
										<input type="file" value="Attach Files" class="btn btn-primary btn-lg" data-loading-text="Loading...">
									</div>
								</div>
							</form>
											
		<!-- END: ACCORDION DEMO -->
	</div>
</div>
<!-- END MAIN CONTENT -->

<!-- BEGIN MAIN JS-->
<!-- BEGIN MAIN JS -->

