<!-- Replug Production -->
<!-- Header -->

<h3 class="page-title">
	Add Books <small>Add a new book</small>
</h3>



<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Books</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">View Book</a>
		</li>
	</ul>

</div>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> New User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-basket"></i> New order </a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">
					<i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
					</a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="note note-success">
	<p>
		You Can find Your Books Here
	</p>
</div>

<!-- View Begins -->
<!-- Starting Main content -->

<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">
    <div class="col-md-12">
        <!-- Table Begins -->
        
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i> All Books
                </div>
                <div class="tools">
                	<A href="javascript:;" class="collapse">
                	</a>
                	<a href="portlet-config" data-toggle="modal" class="config">
                	</a>
                	<a href="javascript" class="reload">
                	</a>
                	<a href="javascript" class="remove">
                	</a>
                </div>

            </div>

            <div class="portlet-body">
            	<table class="table table-striped table-hover" id="sample_2">
            		<thead>
            			<tr>
            				<th>
            					Title
            				</th>
            				<th>
            					Author
            				</th>
            				<th>
            					Quantity
            				</th>
            				<th>
            					Publisher
            				</th>
            				<th>
            					ISBN
            				</th>
            				<TH>
            					WORD STUDY NUMBER
            				</TH>
            			</tr>
            		</thead>
            		<tbody>
            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>


            	<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>

	            	<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>



            		<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>



            		<tr>
            				<td>
            					Jesus IS Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>


              			<tr>
            				<td>
            					Jesus Is Lord
            				</td>
            				<td>
            					Nanle
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Bot
            				</td>
            				<td>
            					2013447
            				</td>
            				<td>
            					24
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>

            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>



            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            			<tr>
            				<td>
            					Holy Spirit
            				</td>
            				<td>
            					Tobi
            				</td>
            				
            				<td>
            					20
            				</td>
            				<td>
            					Onye
            				</td>
            				<td>
            					20134237
            				</td>
            				<td>
            					266
            				</td>
            			</tr>


            		</tbody>
            	</table>
            </div>
        </div>
        
    </div>
</div>



<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}
</script>