<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Add User <small>Create a new user</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Users</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">New User</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> Manage User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> User Reports	
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
	<p>
		Please fill correctly the user details.
	</p>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box yellow-crusta">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-user"></i>Basic Information
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-group">
						<label class="col-sm-3 control-label">Surname</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-users"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Firstname</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-user"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
						</div>
					</div>
				    <div class="form-group">
						<label class="col-sm-3 control-label">Othername</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-user"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">College</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-building"></i>
								</span>
								<select name="level" class="form-control">
								    <option value="">Select One....</option>
									<option value="CAS">College of Agriculture Science</option>
									<option value="CBS">College of Business and Social Sciences</option>
									<option value="CSE">College of Science and Engineering</option>
								</select>
							</div>
							
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Department</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-file"></i>
								</span>
								<input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control"/>
							</div>
							<p class="help-block">
								Enter Department in full (e.g Soil Sciences)
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Level</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-letter"></i>
								</span>
								<select name="level" class="form-control">
								    <option value="">Select One....</option>
									<option value="100 Level">100 Level</option>
									<option value="200 Level">200 Level</option>
									<option value="300 Level">300 Level</option>
									<option value="400 Level">400 Level</option>
									<option value="500 Level">500 Level</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Hall of Residence</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-letter"></i>
								</span>
								<input type="text" id="typeahead_example_2" name="typeahead_example_2" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Room Number</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-letter"></i>
								</span>
								<input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple"><i class="fa fa-check"></i> Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Access Information
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Registration Number</label>
							<div class="col-md-4">
								<div class="input-group" style="text-align:left">
									<input type="text" class="form-control" name="username1" id="username1_input">
									<span class="input-group-btn">
									<a href="javascript:;" class="btn green" id="username1_checker">
									<i class="fa fa-check"></i> Check </a>
									</span>
								</div>
								<div class="help-block">
									Enter reg. number and check its availability.
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Matriculation Number</label>
							<div class="col-md-4">
								<div class="input-icon right">
									<input type="text" class="form-control" name="username1" id="username2_input">
								</div>
								<div class="help-block">
									Matriculation Number (will auto validate)
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Email Address</label>
							<div class="col-md-4">
								<div class="input-icon right">
									<input type="text" class="form-control" name="username1" id="username2_input">
								</div>
								<div class="help-block">
									Intranet Email Allowed only. (Use @lmu.edu.ng)
								</div>
							</div>
						</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple"><i class="fa fa-check"></i> Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	ComponentsFormTools.init(); // init todo page
</script>
