<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Manage Users <small>View and edit users</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Users</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/form-tools">Manage User</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-user"></i> Add User </a>
				</li>
				<li>
					<a href="#">
					<i class="icon-users"></i> User Reports	
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
	<p>
		You can search through to find users easily
	</p>
</div>
<div class="row" ng-controller="AdvancedDatatablesDemoCtrl">
	<div class="col-md-12">
	<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>All Users
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-hover" id="sample_2">
					<thead>
						<tr>
							<th>
								Surname
							</th>
							<th>
								Firstname
							</th>
							<th>
								Gender
							</th>
							<th class="hidden-xs">
								Reg Number
							</th>
							<th class="hidden-xs">
								Department
							</th>
							<th class="hidden-xs">
								Total
							</th>
							<th class="hidden-xs">
								Last Borrowed
							</th>
							<th class="hidden-xs">
								Status
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Walking in Power
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Okafor
							</td>
							<td>
								Michael
							</td>
							<td>
								Male
							</td>
							<td>
								1201992
							</td>
							<td>
								Soil Science
							</td>
							<td>
								11
							</td>
							<td>
								5 ways to win
							</td>
							<td>
								Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomi
							</td>
							<td>
								Martins
							</td>
							<td>
								Male
							</td>
							<td>
								1211112
							</td>
							<td>
								Crop Science
							</td>
							<td>
								55
							</td>
							<td>
								-
							</td>
							<td>
								-
							</td>
						</tr>
						<tr>
							<td>
								Debola
							</td>
							<td>
								Sandra
							</td>
							<td>
								Female
							</td>
							<td>
								1201221
							</td>
							<td>
								Ind Chem
							</td>
							<td>
								11
							</td>
							<td>
								The Grace
							</td>
							<td>
								Not Returned
							</td>
						</tr>
						<tr>
							<td>
								Yomade
							</td>
							<td>
								Gbemi
							</td>
							<td>
								Female
							</td>
							<td>
								14012212
							</td>
							<td>
								Bus Admin
							</td>
							<td>
								80
							</td>
							<td>
								Exploration
							</td>
							<td>
								Due
							</td>
						</tr>
						<tr>
							<td>
								Adeniyi
							</td>
							<td>
								Samuel
							</td>
							<td>
								Male
							</td>
							<td>
								1201872
							</td>
							<td>
								Computer Science
							</td>
							<td>
								80
							</td>
							<td>
								Kingdom of God
							</td>
							<td>
								Returned
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
		<!-- END PORTLET-->
	</div>
</div>
<!-- END MAIN CONTENT -->
<script>
	function AdvancedDatatablesDemoCtrl($scope) {
		TableAdvanced.init();
	}
</script>
