<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	View Books <small>View book details</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.bot">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/users/manage.bot">Books</a>
            <i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/users/view.bot">View</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a href="#">
					<i class="icon-plus"></i> Add Book </a>
				</li>
				<li>
					<a href="#">
					<i class="fa fa-book"></i>Manage Book/All Books </a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
	<h3>Books</h3>
	<p>
		View information about book details, lending activity, availability and book condition.
	</p>
</div>
<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-book"></i>Check for Books and Book Info
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div>
			</div>
<div class="portlet-body form">
				<form action="#" id="form-username" class="form-horizontal form-bordered">
					<div class="form-group">
						<label class="col-sm-3 control-label">Search By</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="icon-magnifier"></i>
								</span>
								<select name="role" class="form-control">
									<option value="">Select One....</option>
                                    <option value="Author">Author</option>
									<option value="Title">Title</option>
									<option value="ISBN">ISBN</option>
                                    <option value="Word Study Number">Word Study Number</option>
								</select>
							</div>
						</div>
					
                    <div class=" col-sm-offset-3 col-sm-4">
                    <div class="input-group">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit btn-success"><i class="icon-magnifier"></i></a>
					</span>
				</div>
                    </div>
                  </div>  
				</form>
			</div>
<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered" ng-controller="UISelectController">
			<div class="portlet-title">
				<div class="caption font-blue-sharp">
					<i class="fa fa-book font-green-sharp"></i>
					<span class="caption-subject bold ">HOLY  SPIRIT<small> by Onye</small></span>
					<span class="caption-helper hide"></span>
				</div>
				<div class="actions">
					<a class="btn btn-circle btn-icon-only btn-default" href="#">
					<i class="icon-cloud-upload"></i>
					</a>
					<a class="btn btn-circle btn-icon-only btn-default" href="#">
					<i class="icon-wrench"></i>
					</a>
				</div>
			</div>
			<div class="portlet-body">
			<tabset justified="true">
						    <tab heading="Book Details">
                                <div class="caption font-blue-bold text-center">
                                    <table class="table table-striped">
    
    <tbody>
      <tr>
        <td>Book Title :</td>
        <td>Holy Spirit</td>
      </tr>
      <tr>
        <td>Author:</td>
        <td>Onyinye</td>
      </tr>
      <tr>
        <td>Publisher:</td>
        <td>-</td>
      </tr>
        <tr>
        <td>Date Registered:</td>
        <td>23-07-15</td>
        </tr>
      <tr>
        <td>ISBN:</td>
        <td>-</td>
      </tr>
        <tr>
        <td>Word Study Number:</td>
        <td>-</td>
      </tr>
        <tr>
        <td>Condition:</td>
        <td>New</td>
      </tr>
        <tr>
        <td>Number of Copies:</td>
        <td>-</td>
      </tr>
        <tr>
        <td>On Shelf?:</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
                                </div>
				</tab>
						    <tab heading="Lending Activity">
                                 <div class="caption font-blue-bold text-center">
                                
                                    <table class="table table-striped">
                                    <tbody>
                                      <tr class="">
                                        <td>Last Borrowed By:</td>
                                        <td>Tosin</td>
                                      </tr>
                                      <tr class="">
                                        <td>Date Borrowed:</td>
                                        <td>24-07-15</td>
                                      </tr>
                                      <tr class="">
                                        <td>Date Returned:</td>
                                        <td>1-08-2015</td>
                                      </tr>
                                        <tr class="">
                                        <td>Issued By:</td>
                                        <td>Samuel</td>
                                      </tr>
                                         <tr class="">
                                        <td>Details Of User
                                            <ul>
                                             <li>Reg No.: 1203857</li>
                                             <li>Dept. : Computer Science</li>
                                             <li>Hall : ABH</li>
                                             </ul>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                
                                </div>
                            </tab>
						  </tabset>
			</div>
		</div>
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script></script>
<!-- BEGIN MAIN JS -->
