<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<!-- BEGIN LOGO -->
	<div class="page-logo">
		<a href="#/">
		<img src="assets/admin/layout/img/logo.png" alt="logo" class="logo-default"/>
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
		</div>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN HEADER SEARCH BOX -->
	<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
	<form class="search-form hide" action="extra_search.html" method="GET">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search..." name="query">
			<span class="input-group-btn">
			<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
			</span>
		</div>
	</form>
	<!-- END HEADER SEARCH BOX -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN TOP NAVIGATION MENU -->
	<div class="top-menu">
		<ul class="nav navbar-nav pull-right">

			<!-- BEGIN INBOX DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
				<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
				<i class="icon-envelope-open"></i>
				<span class="badge badge-default">
				4 </span>
				</a>
				<ul class="dropdown-menu">
					<li class="external">
<<<<<<< HEAD
						<h3>You have Sent <span class="bold">7 New</span> Messages To Users</h3>
=======
						<h3>Sent Mails</h3>
>>>>>>> 69892f1c926aa9277961b7604ab18e5c4663b426
						<a href="page_inbox.html">view all</a>
					</li>
					<li>
						<ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
							<li>
								<a href="inbox.html?a=view">
								<span class="photo">
								<img src="assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
								</span>
								<span class="subject">
								<span class="from">
								Lisa Wong </span>
								<span class="time">Just Now </span>
								</span>
								<span class="message">
								Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo">
								<img src="assets/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
								</span>
								<span class="subject">
								<span class="from">
								Richard Doe </span>
								<span class="time">16 mins </span>
								</span>
								<span class="message">
								Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo">
								<img src="assets/admin/layout3/img/avatar1.jpg" class="img-circle" alt="">
								</span>
								<span class="subject">
								<span class="from">
								Bob Nilson </span>
								<span class="time">2 hrs </span>
								</span>
								<span class="message">
								Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo">
								<img src="assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
								</span>
								<span class="subject">
								<span class="from">
								Lisa Wong </span>
								<span class="time">40 mins </span>
								</span>
								<span class="message">
								Vivamus sed auctor 40% nibh congue nibh... </span>
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo">
								<img src="assets/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
								</span>
								<span class="subject">
								<span class="from">
								Richard Doe </span>
								<span class="time">46 mins </span>
								</span>
								<span class="message">
								Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<!-- BEGIN USER LOGIN DROPDOWN -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<li class="dropdown dropdown-user">
				<a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
				<img alt="" class="img-circle" src="C:\Users\JEHN\Pictures\IMG_0138.JPG"/>
				<span class="username username-hide-on-mobile">
				{{userInfo.username}} </span>
				<i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-default">
					<li>
						<a href="#/profile/dashboard">
						<i class="icon-user"></i> My Profile </a>
					</li>
					<li>
						<a href="#">
						<i class="icon-lock"></i> Lock Screen </a>
					</li>
					<li>
						<a href="#/login">
						<i class="icon-key"></i> Log Out </a>
					</li>
				</ul>
			</li>
			<!-- END USER LOGIN DROPDOWN -->
			<!-- BEGIN QUICK SIDEBAR TOGGLER -->
			<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
			<li class="dropdown dropdown-quick-sidebar-toggler">
				<a href="javascript:;" class="dropdown-toggle">
				<i class="icon-logout"></i>
				</a>
			</li>
			<!-- END QUICK SIDEBAR TOGGLER -->
		</ul>
	</div>
	<!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
