<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
		<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
		<li class="sidebar-search-wrapper">
			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
			<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
			<form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
				<a href="javascript:;" class="remove">
				<i class="icon-close"></i>
				</a>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
					<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
					</span>
				</div>
			</form>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
		</li>
		<li class="start">
			<a href="#/dashboard">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
        <li>
			<a href="javascript:;">
			<i class="icon-lock"></i>
			<span class="title">Admin</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/admin/add">
					<span><i class="icon-puzzle"></i> Add Admin</span>
					</a>
				</li>
				<li>
					<a href="#/admin/manage">
					<apan><i class="icon-paper-clip"></i> Manage Admin</span>
					</a>
				</li>
                <li>
                    <a href="#/admin/view">
                        <span><i class="icon-user"></i> View Admin</span>
                    </a>
                </li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-user"></i>
			<span class="title">Users</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/users/add">
					<i class="icon-puzzle"></i> Add Users</span>
					</a>
				</li>
				<li>
					<a href="#/users/manage">
					<i class="icon-paper-clip"></i> Manage Users</span>
					</a>
				</li>
				<li>
					<a href="#/users/view">
					<i class="icon-check"></i> View Account</span>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;">
			<i class="fa fa-book"></i>
			<span class="title">Books</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/book/add">
						<i class="icon-puzzle"></i> Add Books
					</a>
				</li>
				<li>
					<a href="#/book/manage">
						<i class="icon-calendar"></i> Manage Books
					</a>
				</li>
				<li>
					<a href="#/book/view">
						<i class="icon-calendar"></i> View Books
					</a>
				</li>
				</ul>
		</li>
		<li>
			<a href="#/mail" id="sidebar_menu_link_profile">
			<i class="icon-paper-plane"></i>
			<span class="title">Mailing</span>
			</a>
		</li>
		<li>
			<a href="#/todo">
			<i class="icon-check"></i>
			<span class="title">Reports</span>
			</a>
		</li>
		<li>
			<a href="../index.html" target="_blank">
			<i class="icon-wrench"></i>
			<span class="title">Settings</span>
			</a>
		</li>
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	